<p id="notice"><%= notice %></p>

<h1>Points</h1>

<table>
  <thead>
    <tr>
      <th>Lat</th>
      <th>Long</th>
      <th>Altitude</th>
      <th>Direction</th>
      <th>Speed</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @points.each do |point| %>
      <tr>
        <td><%= point.lat %></td>
        <td><%= point.long %></td>
        <td><%= point.altitude %></td>
        <td><%= point.direction %></td>
        <td><%= point.speed %></td>
        <td><%= point.user_id %></td>
        <td><%= link_to 'Show', point %></td>
        <td><%= link_to 'Edit', edit_point_path(point) %></td>
        <td><%= link_to 'Destroy', point, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Point', new_point_path %>
