<p id="notice"><%= notice %></p>

<p>
  <strong>Lat:</strong>
  <%= @point.lat %>
</p>

<p>
  <strong>Long:</strong>
  <%= @point.long %>
</p>

<p>
  <strong>Altitude:</strong>
  <%= @point.altitude %>
</p>

<p>
  <strong>Direction:</strong>
  <%= @point.direction %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @point.speed %>
</p>

<p>
  <strong>User:</strong>
  <%= @point.user_id %>
</p>

<%= link_to 'Edit', edit_point_path(@point) %> |
<%= link_to 'Back', points_path %>
